<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    {% block head %}{% endblock head %}
</head>

<body>
    <div class="page">
        <div class="navbar">
            <nav class="bg-gray-800" style="background-color: #5f5f5f;">
                <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                    <div class="relative flex h-16 items-center justify-between">
                        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                            <div class="flex shrink-0 items-center">
                                <a href="/ "><img class="h-8 w-auto" src="/static/images/Spam.png" alt="Your Company"></a>
                            </div>
                            <div class="hidden sm:ml-6 sm:block">
                                <div class="flex space-x-4">
                                    <a href="/link_detection"
                                        class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Link
                                        Detection</a>
                                    <a href="/qr"
                                        class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">QR
                                        Generator</a>
                                    <a href="/file_detection"
                                        class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">File
                                        Detection</a>
                                    <a href="/url_shortener"
                                        class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">URL
                                        Shotner</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        {% block main %}{% endblock main %}


    </body>

    </html>