* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1d061a;
    font-family: 'Arial', sans-serif;
    color: #fff;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

/* .content {
    max-width: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
} */

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

p {
    margin-bottom: 20px;
    color: #ddd;
    font-size: 1rem;
}

.input-container {
    margin-bottom: 30px;
}

input[type="url"] {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid linear-gradient(315deg, #ffbc00, #ff0058);
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="url"]:focus {
    border-color: #4682B4;
    box-shadow: 0 0 10px linear-gradient(315deg, #ffbc00, #ff0058);
}

button {
    width: auto;
    min-width: 200px;
    all: unset;
    display: inline-block;
}
/* 

button:hover {
    background-color: #315b7e;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
} */

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.results h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.results p {
    margin-bottom: 10px;
}

.results a {
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.results a:hover {
    color: #0088cc;
    text-decoration: underline;
}
