{% extends "base.html" %}
{% block title %}About Us{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/about.css">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">  

{% endblock head %}


{% block main %}

<div class="container">
        <div class="content">
            <h1>About Us</h1>
            <p>Welcome to Secure Tools Platform!</p>
            <p>At Secure Tools Platform, we are dedicated to providing you with cutting-edge tools and services that
                ensure your online safety and enhance your digital experience.</p>
            <p>Our mission is to deliver reliable, user-friendly solutions for a safer digital world. From link
                detection to QR code generation, file analysis, URL shortening, and anonymous messaging, our suite of
                tools is designed with your security and privacy in mind.</p>
            <p>Our team of experts works tirelessly to develop and maintain these tools, ensuring they meet the highest
                standards of performance and security. We are committed to continuous improvement and innovation, always
                striving to stay ahead of the latest threats and challenges in the digital landscape.</p>
            <p>Thank you for choosing Secure Tools Platform. We look forward to serving you and helping you navigate the
                digital world safely and efficiently.</p>
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2025 Secure Tools Platform. All rights reserved.</p>
    </div>


{% endblock main %}
