{% extends "base.html" %}
{% block title %}Anonymous Mail{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/mail.css">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">  

{% endblock head %}


{% block main %}

<!-- This is worlign <br><br><br><br> <br> -->

<div class="container">
        <div class="content">
            <h1>Send Anonymous Mail</h1>
            <div class="input-container">
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="email_to">To:</label>
                    <input type="email" name="email_to" id="email_to" placeholder="To: example@gmail.com" required><br><br>

                    <label for="subject">Subject:</label>
                    <input type="text" name="subject" id="subject" placeholder="Enter your subject" required><br><br>

                    <label for="message">Message:</label>
                    <textarea name="message" id="message" placeholder="Enter your message here..." required></textarea><br><br>

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2025 Secure Tools Platform. All rights reserved.</p>
    </div>
{% endblock main %}
