{% extends "base.html" %}
{% block title %}Anonymous SMS{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/message.css">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">  

{% endblock head %}

{% block main %}

<div class="container">
        <div class="content">
            <h1>This is Anonymous SMS Page</h1>
            <div class="input-container">
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="phone">Enter receiver's phone number:</label>
                    <input type="tel" name="phone" id="phone" placeholder="Don't add country code" required><br><br>

                    <label for="msg">Enter the Message:</label>
                    <textarea name="msg" id="msg" placeholder="Enter your message here..." required></textarea><br><br>

                    <button type="submit">Send</button>
                </form>
            </div>
            {{response}}
        </div>
    </div>


{% endblock main %}
