<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/static/css/home.css">
    {% block head %}{% endblock head %}
</head>

<body>
    <header class="navbar">
    <nav class="nav-container">
      <div class="logo">
        <a href="/" aria-label="Home">
          <img src="/static/images/Spam.png" alt="Secure Tools Platform Logo">
        </a>
      </div>
      <ul class="nav-links">
        <li><a href="/link_detection">Link Detection</a></li>
        <li><a href="/qr">QR Generator</a></li>
        <li><a href="/file_detection">File Detection</a></li>
        <li><a href="/url_shortener">URL Shortener</a></li>
        <li><a href="/anonymous_mail">Anonymous Mail</a></li>
        <li><a href="/anonymous_sms">Anonymous Message</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="about.html">About Us</a></li>
      </ul>
    </nav>
  </header>

        {% block main %}{% endblock main %}


    </body >

    </html>
