<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/static/css/home.css">
    {% block head %}{% endblock head %}
</head>

<body>
    <header class="navbar">
    <nav class="nav-container">
      <div class="logo">
        <a href="home.html" aria-label="Home">
          <img src="Spam.png" alt="Secure Tools Platform Logo">
        </a>
      </div>
      <ul class="nav-links">
        <li><a href="Link.html">Link Detection</a></li>
        <li><a href="qr.html">QR Generator</a></li>
        <li><a href="file.html">File Detection</a></li>
        <li><a href="url.html">URL Shortener</a></li>
        <li><a href="mail.html">Anonymous Mail</a></li>
        <li><a href="message.html">Anonymous Message</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="about.html">About Us</a></li>
      </ul>
    </nav>
  </header>

        {% block main %}{% endblock main %}


    </body>

    </html>
