{% extends "base.html" %}
{% block title %}Contact Us{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/contact.css">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">  

{% endblock head %}

{% block main %}

<div class="container">
        <div class="content">
            <h1>Contact Us</h1>
            <p>If you have any questions or need assistance, feel free to reach out to us using the form below.</p>
            <div class="input-container">
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" placeholder="Enter your name" required><br><br>

                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="Enter your email" required><br><br>

                    <label for="phone">Phone:</label>
                    <input type="tel" name="phone" id="phone" placeholder="Enter your phone number" required><br><br>

                    <label for="message">Message:</label>
                    <textarea name="message" id="message" placeholder="Enter your message here..." required></textarea><br><br>

                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    

{% endblock main %}
