{% extends "base.html" %}

{% block title %}This is the home page{% endblock title %}


{% block main %}
{% comment %} <h1>This is home page</h1>
<a href="/qr">QR Genration</a>
This is working!! <br> <br>

    <a href="/link_detection">Link Detection</a>
    This is working!! <br> <br>
    
    <a href="/file_detection">File Detection</a>
    This is working!!  <br><br>
    
    <a href="/url_shortener">Url Shortener</a>
    This is working!! {% endcomment %}




    
    <div class="container">
    <div class="box">
      <div class="content">
        <h2>Link Detection</h2>
        <p>Verify and detect suspicious links and websites.</p>
        <a href="/link_detection">Explore</a>
      </div>
    </div>

    <div class="box">
      <div class="content">
        <h2>QR Code Generator</h2>
        <p>Generate and scan QR codes instantly.</p>
        <a href="/qr">Explore</a>
      </div>
    </div>

    <div class="box">
      <div class="content">
        <h2>File Detection</h2>
        <p>Scan files for safety and potential threats.</p>
        <a href="/file_detection">Explore</a>
      </div>
    </div>

    <div class="box">
      <div class="content">
        <h2>URL Shortener</h2>
        <p>Shorten URLs for easy sharing and tracking.</p>
        <a href="/url_shortener">Explore</a>
      </div>
    </div>

    <div class="box">
      <div class="content">
        <h2>Anonymous Mail</h2>
        <p>Anonymous mailing service...</p>
        <a href="/anonymous_mail">Explore</a>
      </div>
    </div>

    <div class="box">
      <div class="content">
        <h2>Anonymous Message</h2>
        <p>Anonymous Message....</p>
        <a href="/anonymous_sms">Explore</a>
      </div>
    </div>

  </div>

  <section class="details">
    <h2>Our Team</h2>
    <div class="team">
      <div class="member">
        <img src="/static/images/pfp1.jpeg" alt="Team Member 1">
        <h5>Nabeel Ali Khan</h5>
        <span>Lead Developer</span>
        <div class="info">
          Expertise in BackEnd Technology.
        </div>
      </div>

      <div class="member">
        <img src="/static/images/pfp1.jpeg" alt="Team Member 2">
        <h5>Bhavik Pahuja</h5>
        <span>FrontEnd Devloper</span>
        <div class="info">
          Expertise in FrontEnd Technology.
        </div>
      </div>

      <div class="member">
        <img src="/static/images/pfp1.jpeg" alt="Team Member 3">
        <h5>Aditya Pratap Singh</h5>
        <span>Project Manager</span>
        <div class="info">
          Expertise in Team Management.
        </div>
      </div>

      <div class="member">
        <img src="/static/images/pfp2.jpeg" alt="Team Member 3">
        <h5>Tanishka</h5>
        <span>Presentator</span>
        <div class="info">
          Expertise in Presenation Skills.
        </div>
      </div>
    </div>
    <a href="/about" class="details-button">About Us</a>
  </section>

    
    {% endblock main %}
