{% extends "base.html" %}

{% block title %}This is the home page{% endblock title %}


{% block main %}
{% comment %} <h1>This is home page</h1>
<a href="/qr">QR Genration</a>
This is working!! <br> <br>

    <a href="/link_detection">Link Detection</a>
    This is working!! <br> <br>
    
    <a href="/file_detection">File Detection</a>
    This is working!!  <br><br>
    
    <a href="/url_shortener">Url Shortener</a>
    This is working!! {% endcomment %}




    
    <div class=holder>
        <div class=container>
            <div class=card>
                <div class=image>
                    <img href="#" src="/static/images/SpamLink.png" alt="img">
                </div>
                <div class=content>
                    <h3>Link Detection</h3>
                    <button><a href="/link_detection"><img src="/static/images/right-arrow.png" alt="Go"></a></button>
                </div>
            </div>
            <div class=card>
                <div class=image>
                    <img href="#" src="/static/images/Qr.png" alt="img">
                </div>
                <div class=content>
                    <h3>QR Generator</h3>
                    <button><a href="/qr"><img src="/static/images/right-arrow.png" alt="Go"></a></button>
                </div>
            </div>
            <div class=card>
                <div class=image>
                    <img href="#" src="/static/images/DileDetection.png" alt="img">
                </div>
                <div class=content>
                    <h3>File Detection</h3>
                    <button><a href="/file_detection"><img src="/static/images/right-arrow.png" alt="Go"></a></button>
                </div>
            </div>
            <div class=card>
                <div class=image>
                    <img href="#" src="/static/images/URLShotner.png" alt="img">
                </div>
                <div class=content>
                    <h3>URL Shotner</h3>
                    <button><a href="/url_shortener"><img src="/static/images/right-arrow.png" alt="Go"></a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="details">
        <h2>
            Know Our Team Members
        </h2>
    </div>
    <div class="team">
        <div class="member">
            <div
                class="w-full max-w-sm border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="flex flex-col items-center pb-10">
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/static/images/pfp1.jpeg" alt="Bonnie image" />
                    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Nabeel Ali Khan</h5>
                    <span class="text-sm text-gray-900 dark:text-gray-400">BackEnd Designer</span>
                </div>
            </div>
        </div>
        <div class="member">
            <div
                class="w-full max-w-sm border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="flex flex-col items-center pb-10">
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/static/images/pfp1.jpeg" alt="Bonnie image" />
                    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Bhavik Pahuja</h5>
                    <span class="text-sm text-gray-900 dark:text-gray-400">FrontEnd Designer</span>
                </div>
            </div>
        </div>
        <div class="member">
            <div
                class="w-full max-w-sm border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="flex flex-col items-center pb-10">
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/static/images/pfp1.jpeg" alt="Bonnie image" />
                    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Aditya Pratap Singh</h5>
                    <span class="text-sm text-gray-900 dark:text-gray-400">Project Manager</span>
                </div>
            </div>
        </div>
        <div class="member">
            <div
                class="w-full max-w-sm border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="flex flex-col items-center pb-10">
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="/static/images/pfp2.jpeg" alt="Bonnie image" />
                    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Tanishka</h5>
                    <span class="text-sm text-gray-900 dark:text-gray-400">Presentator</span>
                </div>
            </div>
        </div>
    </div>

    
    {% endblock main %}