{% extends "base.html" %}
{% block title %}Link Detection{% endblock title %}

{% block head %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/link.css">
{% endblock head %}

{% block main %}



    <div class="container">
        <div class="content">
            <h1>Link Analyzer</h1>
            <p>Enter a URL below to analyze and view its details.</p>

            <div class="input-container">
                <form action="#" method="post">
                    {% csrf_token %}
                    <label for="link">Enter Link:</label>
                    <input type="url" id="link" name="link" placeholder="Put the Link" required>
                    <button type="submit" id="toggleButton">Shorten URL</button>

                    <div class="results" id="linkResults">
                        <h2>Link Details</h2>
                        <div class="details">
                            <p><strong>Title:</strong> <span id="title">Loading...</span></p>
                            <p><strong>Description:</strong> <span id="description">Loading...</span></p>
                            <p><strong>URL:</strong> <a id="linkURL" href="#" target="_blank">Loading...</a></p>

                            {% if link_details %}
                            <p id="url"></p>
                            <ul>
                                {% for key, value in link_details.items %}
                                <li><strong>{{ key }}:</strong> {{ value }}</li>
                                {% endfor %}
                            </ul>
                            {% elif error %}
                            <p style="color: red;">{{ error }}</p>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2025 Link Analyzer. All Rights Reserved.</p>
    </div>
    <script>
        document.getElementById('toggleButton').addEventListener('click', function() {
            var container = document.getElementById('linkResults');
            if (container.style.display === 'none' || container.style.display === '') {
                container.style.display = 'block';
            } else {
                container.style.display = 'none';
            }
        });
    </script>




    <!-- <form action="" method="post">
        {% csrf_token %}
        
        <label for="link">Enter your link:</label>
        <input type="text" name="link" id="link" required>
        <button type="submit">Submit</button>
    </form> -->

 

    
    {% endblock main %}
