{% extends "base.html" %}

{% block title %}Url Shortner{% endblock title %}

{% block head %}

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/url.css">

{% endblock head %}

{% block main %}


<div class="main">
    <div class="generate">
        <h1>Shorten URL</h1>
        <form method="POST">
            {% csrf_token %}

            <label for="input_url">Enter URL:</label>
            <input type="url" id="original_url" name="original_url" required>
            <button type="submit">Shorten URL</button>
        </form>
    </div>
    <div class="give">
        <h2>Shortened URL</h2>
        <div>
            <p>Shortened URL: <a href="#" target="_blank">{% if short_url %}
                <p><a href="{{ short_url }}" target="_blank">{{ short_url }}</a></p>
            {% endif %}</a></p>
        </div>
    </div>
</div>
</div>



  
{% endblock main %}